@import url("https://use.typekit.net/ppj4rln.css");

body {
  font-family: "Sofia-Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.front {
  margin-top: 80px;
}
.board {
  width: 980px;
  margin: auto;
}

.qna-list a {
  text-decoration: none;
  color: var(--color-black);
}

.qna-list {
  margin: -1px 0 0;
  font-size: 11px;
  /* border-top: 1px solid #ececec; */
}

.qna-list img {
  margin-right: 10px;
}

.qna-list ul {
  padding: 0;
}

.qna-list ul li {
  margin: auto;
  position: relative;
  padding: 14px 14px;
  color: #757575;
  border-bottom: 1px solid #ececec;
}

.qna-summary .qna-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-family: "AppleSDGothicNeoL";
  color: #000;
}
.qna-summary .qna-row.bottom {
  margin-top: 10px;
}
.qna-btn {
  text-align: center;
  margin: 27px 0;
}
.qna-btn-write {
  width: 200px;
  height: 35px;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 13px;
  font-family: "SofiaProSemiBold", sans-serif;
  font-weight: 900;
}

.qna-btn-write a {
  color: var(--color-white);
}
/* qna content */
.qna-container a {
  text-decoration: none;
  color: #5d5d5d;
}
.qna-head {
  padding: 17px 16px 16px;
  font-size: 12px;
  color: #999999;
}

.qna-head h3 {
  color: var(--color-black);
  font-size: 15px;
}
.qna-head .qna-info {
  margin-bottom: 5px;
}

.qna-head .qna-append span {
  margin-right: 5px;
}

.qna-body {
  color: #5d5d5d;
  font-size: 12px;
  padding: 10px 16px;
}

.qna-foot {
  margin: 0 16px;
  border-top: 1px solid #e5e9f2;
}

.qna-content-btn {
  display: inline-block;
  width: 100%;
  height: 36px;
  margin: 40px 0;
  border: 1px solid #5d5d5d;
  font-size: 13px;
  color: #5d5d5d;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

.qna-page {
  margin: 0;
  padding: 0;
}

.qna-page li {
  display: flex;
  padding: 15px 16px;
  border-top: 1px solid #e5e9f2;
}

.qna-page li:nth-child(2) {
  border-bottom: 1px solid #e5e9f2;
  margin-bottom: 20px;
}

.qna-page li strong {
  margin-right: 10px;
}

.qna-page li p {
  margin: 0;
}

/* * Qna Write */

.qna-form {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-bg);
  border: 1px solid #ddd;
}

.qna-form-group {
  margin-bottom: 20px;
}

.qna-form-group label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}

.qna-form-group input,
.qna-form-group textarea {
  width: 844px;
  background-color: var(--color-bg);
  padding: 10px;
  border: 1px solid #ccc;
}

.qna-form-group textarea {
  height: 200px; /* 초기 height 값 설정 */
  resize: vertical; /* height만 조정 가능 */
}

.qna-form-group textarea {
  height: 200px;
}

.qna-form-group-flex {
  display: flex;
  width: 690px;
}

.qna-form-group-flex .type {
  display: flex;
  width: 100px;
  margin: 20px 0;
}

.qna-form-group .qna-form-group-flex input[type="radio"] {
  width: 20px;
  margin: 0 5px;
  padding: 0;
}

.qna-form-group-btn {
  width: 800px;
  display: flex;
  margin: auto;
}

.qna-form-group-btn button {
  width: 417px;
  height: 35px;
  padding: 20px 20px;
  line-height: 5px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.qna-form-group-btn button[type="button"] {
  background: none;
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.page-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: var(--color-bg);
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
}

.page-button.active {
  color: var(--color-black);
}

.page-button:hover {
  text-decoration: underline;
}

.qna-password {
  width: 966px;
  margin: auto;
  color: #2e2e2e;
  border: 1px solid #2e2e2e;
  text-align: center;
}

.qna-password .qna-ps-info {
  display: inline-block;
  text-align: center;
}

.qna-password img {
  width: 15px;
  margin-right: 5px;
}

.qna-password h3 {
  margin: 15px 0;
  padding-bottom: 15px;
  color: #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
}

.qna-password p {
  margin-bottom: 5px;
}

.qna-password .qna-ps {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
}

.qna-password .qna-ps-content {
  text-align: center;
}

.qna-password .qna-ps input {
  width: 146px;
  height: 30px;
  padding: 10px;
  border: 1px solid var(--color-black);
  margin-right: 5px;
  background-color: var(--color-bg);
}

.qna-password .qna-ps button {
  width: 50px;
  height: 30px;
  padding: 10px;
  line-height: 5px;
  font-family: "Sofia-Pro", sans-serif;
  font-size: 13px;
  font-weight: 900;
  background-color: var(--color-black);
  color: var(--color-white);
}

.qna-password div {
  width: 195px;
  margin: auto;
  padding-bottom: 10px;
}
