.cart-empty {
  text-align: center;
  padding: 70px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.cart-table-area {
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
  border-spacing: 0;
}

.cart-table-area tr td,
.cart-table-area tr th {
  border-bottom: 1px solid var(--color-black);
}

.cart-table-area th {
  font-size: 14px;
  font-weight: 700;
  padding: 1rem;
  text-transform: capitalize;
}

.cart-remove-e {
  cursor: pointer;
}

.cart-product,
.cart-qty,
.cart-price,
.cart-remove {
  width: 18%;
}

.cart-product-desc {
  width: 28%;
}

.cart-table-area td img {
  width: 100%;
  background-image: var(--color-bg);
}
.cart-qty-input {
  width: 40px;
  height: 23px;
  padding: 0 7px;
  border: 1px solid #ececec !important;
  line-height: 23px;
  background: none;
  text-align: center;
}
.cart-qty-btn {
  border: none;
  background-color: inherit;
  padding: 10px 5px;
  cursor: pointer;
}

.cart-total {
  text-align: right;
  padding: 15px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cart-link a,
.cart-link button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.cart-link a:hover,
.cart-link button:hover {
  background-color: darkgray;
}
.modal-content img.cart-modal-result-img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  position: relative;
  top: 1px;
}
