.header {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px 49px;
  box-sizing: border-box;
  font-size: 1.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.header-top {
  background-color: inherit;
  color: #fcfaf1;
}
.header-top div a {
  text-decoration: none;
  color : #fcfaf1;
}

.header-scrolled {
  background-color: var(--color-bg);
  color: var(--color-black);
}

.header-scrolled div a{
  text-decoration: none;
  color: var(--color-black);
}

.header-right-menu {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.header-menu,
.header-logo,
.header-right-menu {
  flex-shrink: 0;
  cursor: pointer;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 120px;
  margin-left: 100px;
}

.header-logo a {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.logo-top {
  background-image: url("../../public/image/pesade-logo-ivory.png");
}

.logo-scrolled {
  background-image: url("../../public/image/pesade-logo.png");
}
/* 사이드바 */

.drawer-content {
  width: 400px;
  background-color: var(--color-black);
  height: 100%;
  padding: 20px 50px;
}

.drawer-content * {
  font-size: 38px;
  color: var(--color-white);
}


.drawer-content li a,
.drawer-subcategory li a,
.drawer-subcategory span {
  position: relative;
  text-decoration: none;
}

.drawer-content li a::after,
.drawer-subcategory li a::after,
.drawer-subcategory span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: var(--color-white);
  transition: width 0.3s ease-in-out;
}

.drawer-content li:hover a::after,
.drawer-subcategory li:hover a::after,
.drawer-subcategory span:hover::after {
  width: 100%;
}

.drawer-content li{
  padding: 5px 0;
}

/* 사이드바의 사이드메뉴 */

.drawer-subcategory {
  position: relative;
}

.drawer-subcategory ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-out;
  background-color: inherit;
  padding-bottom: 12px;
  margin: 0;
  list-style: none;
}

.drawer-subcategory:hover ul {
  max-height: 400px; 
}

.drawer-subcategory ul li {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.drawer-subcategory:hover ul li {
  opacity: 1;
  transform: translateY(0);
}

.drawer-subcategory ul li:nth-child(1) {
  transition-delay: 0s;
}

.drawer-subcategory ul li:nth-child(2) {
  transition-delay: 0.1s;
}

.drawer-subcategory ul li:nth-child(3) {
  transition-delay: 0.2s;
}

.drawer-subcategory ul li:nth-child(4) {
  transition-delay: 0.3s;
}

.drawer-subcategory ul li:nth-child(5) {
  transition-delay: 0.4s;
}

.drawer-subcategory ul li:nth-child(6) {
  transition-delay: 0.5s;
}

.drawer-subcategory ul li:nth-child(7) {
  transition-delay: 0.6s;
}

.drawer-subcategory ul li:nth-child(8) {
  transition-delay: 0.7s;
}

.drawer-subcategory ul * {
  font-size: 24px;
}

.drawer-subcategory:hover ul {
  max-height: 400px; 
}

.drawer-subcategory ul li {
  padding: 8px 16px;
}



.drawer-list {
  text-transform: capitalize; 
}

.drawer-controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0px;
  padding: 27px 20px;
  width: 300px;
  left: 0;
  z-index: 100;
}

.drawer-close-button {
  background-image: url("https://pesade.kr/wJk/img/common/close_white_01.png");
  left: auto;
  position: absolute;
  top: 20px;
  right: 0;
  width: 18px; 
  height: 18px;
  background-size: contain; 
  background-repeat: no-repeat;
  background-color: inherit;
  border: none; 
  cursor: pointer; 
}
