.home-content {
  width: 100%;
}

.main-slider {
  width: 100%;
  max-height: 100vh;
}

.slider-image {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.main-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

.home-follow-instagram {
  text-align: center;
  padding: 51px 0;
  font-size: 22px;
  font-weight: 900;
}

.home-follow-instagram a {
  text-decoration: none;
  color: var(--color-black);
}

.home-sub-img {
  width: 100%;
  overflow: hidden;
}
/* .slider-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;

  margin: 0;
  padding: 0;
}

.slick-slider {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 !important;
}
.slick-prev {
  z-index: 1;
  left: 10% !important;
  width: 50px !important;
  height: 50px !important;
}

.slick-prev::before {
  font-size: 55px !important;
}

.slick-next {
  right: 10% !important;
  width: 50px !important;
  height: 50px !important;
}

.slick-next::before {
  font-size: 55px !important;
} */

/* .image-container {
  width: 530px;
  min-height: 530px;
  margin-right: 10px;
}

.image-container img {
  width: 340px;
  min-height: 630px;
  object-fit: scale-down;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
} */

.slider-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  padding: 140px 0;

}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-container img {
  max-width: 75%;
  height: auto;
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  color: #999 !important; 
  width: 35px !important;
  height: 35  px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important; 
}