.journal {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 4rem;
}

.journal-iframe {
  width: 100%;
  z-index: 301; /* z-index 추가 */
  position: relative; /* z-index 적용을 위해 position 속성 추가 */
}

.journal-iframe-video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
.journal-iframe.scrolled {
  width: 100%;
  z-index: 200; /* z-index 추가 */
  position: relative; /* z-index 적용을 위해 position 속성 추가 */
}
.journal-contents {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}
.journal-link {
  color: black;
  text-decoration: none;
}

.journal-content {
  text-align: left;
}

.journal-content-image {
  width: 100%;
}

.journal-content-desc {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.journal-detail {
  width: 1200px;
  margin: 6rem auto;
  background-color: white;
}
.journal-detail-title {
  border: 1px solid red;
}
.journal-detail-title-img {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.journal-slider {
  margin: 2rem auto;
  width: 45%;
  height: auto;
  /* height: 100vh; */
}
.journal-detail-desc {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}
.journal-detail-desc-img {
  width: 50%;
}
.journal-detail-desc-text {
  width: 40%;
  align-items: center;
  margin: auto;
}
.journal-detail-editor {
  margin: 2rem;
}
