/**************

    Login

***************/

.login {
  width: 400px;
  height: 670px;
  text-align: center;
  margin: auto;
}

.login-title {
  font-size: 29px;
  padding: 62px 52px 30px;
}

.login-title-kor {
  font-size: 13px;
  margin: 40px 0 20px;
  font-weight: 800;
}

.login-input {
  width: 368px;
  height: 36px;
  font-size: 12px;
  margin: 15px 0 0;
  background-color: #fffcf1;
  border: 1px solid black;
}

.login-button {
  width: 374px;
  height: 33px;
  font-size: 14px;
  margin: 15px 0 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #000;
}

.login-find {
  display: flex;
  justify-content: space-between;
}

.login-find > a {
  color: black;
  font-size: 13px;
  margin: 10px;
}

.login-sns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.login-sns-button {
  display: flex;
  width: 182px;
  height: 33px;
  text-align: center;
  align-items: center;
  border: 1px solid black;
}

.login-sns-button > a {
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
}

.login-sns-link {
  display: inline-block;
  width: 182px;
  height: 33px;
  padding: 10px 20px;
}

.login-sns-image {
  width: 12px;
  height: 12px;
}

.login-bar {
  border: 1px solid black;
  width: 95%;
  margin: auto;
  margin-top: 30px;
}

.login-join-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.login-join-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 33px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  border: 1px solid black;
}

.login-description-box {
  margin-top: 20px;
}

.login-description {
  font-size: 13px;
  line-height: 1.6;
}
