.my-page {
  height: 1000px;
}
.mypage {
  display: flex;
  list-style-type: none;
}
.mypage-info-to-userinfo {
  cursor: pointer;
}
.mypage-info-to-userinfo:hover {
  color: red;
}
.mypage-toggle:hover {
  color: black;
  cursor: pointer;
}
.mypage-toggle-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.mypage-toggle-detail {
  margin: 0 5px;
  font-weight: 400;
  color: black;
  font-size: 1rem;
}
.mypage-toggle-detail:hover {
  color: rgb(255, 17, 17);
  cursor: pointer;
}
.mypage-toggle-detail-link {
  color: white;
}

.mypage a {
  color: var(--color-black);
  text-decoration: none;
}

.mypage-leftmenu {
  /* position: fixed; */
  margin-top: 40px;
  font-size: 15px;
  min-height: 300px;
  top: 19.5rem;
  left: 0;
  width: 200px; /* 원하는 너비로 설정 */
  height: 50%;
  overflow-y: auto; /* 메뉴가 길어질 경우 스크롤 가능하게 설정 */
  padding: 20px; /* 원하는 패딩 설정 */
  border: 1px solid rgb(179, 169, 151);
  color: rgb(95, 95, 95);
}

.mypage-rightmenu {
  padding: 20px;
  flex: 1; /* 남은 공간을 차지하도록 설정 */
}
.mypage-info {
  display: flex;
  justify-content: space-between;
  background-color: rgb(179, 169, 151);
  color: white;
  padding: 2rem 0;
  height: 100px;
}
.mypage-info-name {
  display: flex;
  margin-left: 14.8rem;
}
.mypage-info-name-highlight {
  color: var(--color--bg);
}
.mypage-info-buy {
  display: flex;
  justify-content: left;
  margin-top: 0.5rem;
}
.mypage-info-detail {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-right: 2rem;
}
.mypage-division-line {
  background-color: black;
  width: 100%;
  height: 2px;
  margin-top: 2rem;
}
.mypage-detail-info {
  margin: 2rem 0;
}
.mypage-detail-check {
  cursor: pointer;
  color: gray;
}
.mypage-table {
  width: 100%;
  border: 1px solid black;
  margin: 0.5rem 0;
  padding: 1rem 0;
  text-align: center;
}
.mypage-myscript {
  display: flex;
  justify-content: left;
  gap: 2rem;
}
.mypage-myscript-detail {
  border: 1px solid black;
  width: 300px;
  padding: 1rem;
}
.mypage-myscript-detail-title {
  margin: 1rem 0;
}
.mypage-myscript-detail-answer {
  display: flex;
  gap: 1rem;
}
.mycoupon-icon {
  margin-right: 0.2rem;
}
.mypage-infochange {
  width: 290px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.mypage-infochange-title {
  margin-bottom: 2rem;
}
.mypage-infochange-passwordinput {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.mypage-infochange-input {
  width: 230px;
  height: 36px;
  padding: 10px;
  background-color: var(--color--bg);
}
.mypage-infochange-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.mypage-detail-myorder {
  display: flex;
  justify-content: space-between;
}
.mypage-infochange-icon {
  width: 40px;
}
.mypage-infochange-button {
  width: 72px;
  height: 36px;
  font-size: 12px;
  color: white;
  padding: 0 10px;
  border: 1px solid black;
  background-color: black;
}
.profileedit {
  border: 1px solid red;
  width: 400px;
  margin: 0 auto;
}

.editprofile {
  position: relative;
}
.editprofile button {
  border: 1px solid black;
}
.editprofile-address-td {
  display: flex;
  gap: 6px;
}
.editprofile-postmodal {
  position: absolute;
  z-index: 100;
  top: 350px;
  left: 650px;
}

.editprofile input {
  padding: 10px;
}
.editprofile-table {
  margin: 0 auto;
}
.editprofile-table td {
  padding: 7px 13px 6px;
}
.editprofile-table-inputmain {
  width: 360px;
  height: 36px;
  background-color: rgb(255, 251, 237);
  border: 1px solid black;
}
.editprofile-table-inputsub {
  width: 80px;
  height: 36px;
  background-color: rgb(255, 251, 237);
  border: 1px solid black;
}
.editprofile-table-inputsubsub {
  width: 107px;
  height: 36px;
  margin-right: 4px;
  background-color: rgb(255, 251, 237);
  border: 1px solid black;
}
.editprofile-table-inputsubsubsub {
  width: 107px;
  height: 36px;
  margin-left: 6px;
  background-color: rgb(255, 251, 237);
  border: 1px solid black;
}
.editprofile-table-inputsubsubsubsub {
  width: 95px;
  height: 36px;
  margin-right: 6px;
  background-color: rgb(255, 251, 237);
  border: 1px solid black;
}
.editprofile-table-inputbutton {
  width: 73px;
  height: 36px;
  color: white;
  background-color: black;
}
.profileedit-buttons {
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}
.profileedit-button {
  width: 10rem;
  height: 36px;
  color: white;
  background-color: black;
  margin: 1rem;
}

.myorder {
  width: 1000px;
  margin: 0 auto;
}
.myorder-title {
  display: flex;
  justify-content: center;
}
.myorderbutton {
  background-color: transparent;
  width: 400px;
  height: 32px;
  border: none;
  border-bottom: 1px solid black;
}
.myorderbutton.active {
  color: white;
  background-color: black;
}
.myorder-select {
  display: flex;
  justify-content: left;
  margin-bottom: 1rem;
  font-weight: 500;
}
.myorderselect-content {
  width: 800px;
  height: 400px;
  margin: 2rem auto;
}
.myorderselect-warning-text {
  color: gray;
  font-size: 0.7rem;
}
.myorder-selectbox {
  background-color: transparent;
}
.myorderdate {
  width: 60px;
  border: 1px solid black;
  background-color: transparent;
  margin-left: 0.3rem;
}
.myorderdate.active {
  background-color: black;
  color: white;
}
.myorder-orderlist {
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
}
.mycoupon {
  width: 1000px;
  margin: 0 auto;
}
.mycoupon-admin {
  width: 800px;
  margin: 0 auto;
  border: 1px solid black;
}
.mycoupon-admin-title,
.mycoupon-admin-warning {
  margin: 1rem;
}
.mycoupon-admin-access {
  display: flex;
  gap: 5px;
  margin: 1rem;
}
.mycoupon-admin-access input {
  width: 650px;
  height: 32px;
}
.mycoupon-admin-access button {
  width: 100px;
  height: 32px;
  color: white;
  border: 1px solid black;
  background-color: black;
}
.mycoupon-admin-table {
  width: 800px;
  margin: 2rem auto;
}
.mycoupon-admin-table-table {
  width: 100%;
  border-collapse: collapse;
}
.mycoupon-admin-table-title {
  color: white;
  background-color: black;
  text-align: left;
  padding: 1rem;
}
.mycoupon-admin-table-tbody {
  text-align: center;
}
.mycoupon-admin-table-tbody th,
.mycoupon-admin-table-tbody td {
  padding: 0.5rem 0;
}

.mypage-info-step1,
.mypage-info-step2 {
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
