.mypage {
  display: flex;
  list-style-type: none;
}

.mypage a {
  color: var(--color-black);
  text-decoration: none;
}

.mypage-leftmenu {
  position: fixed;
  top: 22rem;
  left: 0;
  width: 200px; /* 원하는 너비로 설정 */
  height: 100%;
  overflow-y: auto; /* 메뉴가 길어질 경우 스크롤 가능하게 설정 */
  padding: 20px; /* 원하는 패딩 설정 */
}

.mypage-rightmenu {
  margin-left: 220px; /* left menu의 너비 + 여백 */
  padding: 20px;
  flex: 1; /* 남은 공간을 차지하도록 설정 */
}
.mypage-info {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 2rem 0;
}
.mypage-info-name {
  margin-left: 14.8rem;
}
.mypage-info-name-highlight {
  color: red;
}
.mypage-info-buy {
  display: flex;
  justify-content: left;
  margin-top: 0.5rem;
}
.mypage-info-detail {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-right: 2rem;
}
.mypage-division-line {
  background-color: black;
  width: 100%;
  height: 2px;
  margin-top: 2rem;
}
.mypage-detail-info {
  margin: 2rem 0;
}
.mypage-table {
  width: 100%;
  border: 1px solid black;
  margin: 0.5rem 0;
  padding: 1rem 0;
  text-align: center;
}
.mypage-myscript {
  display: flex;
  justify-content: left;
  gap: 2rem;
}
.mypage-myscript-detail {
  border: 1px solid black;
  width: 300px;
  padding: 1rem;
}
.mypage-myscript-detail-title {
  margin: 1rem 0;
}
.mypage-myscript-detail-answer {
  display: flex;
  gap: 1rem;
}

.mypage-infochange {
  width: 290px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid red;
}
.mypage-infochange-title {
  border: 1px solid orange;
}
.mypage-infochange-text {
  border: 1px solid yellow;
}
.mypage-infochange-passwordinput {
  display: flex;
  justify-content: space-between;
}
.mypage-infochange-input {
  width: 230px;
  height: 36px;
  padding: 10px;
}
.mypage-infochange-button {
  height: 36px;
  font-size: 12px;
  color: white;
  padding: 0 10px;
  background-color: black;
}
.profileedit {
  border: 1px solid red;
  width: 400px;
  margin: 0 auto;
}
.editprofile-table {
  margin: 0 auto;
}
.editprofile-table td {
  padding: 7px 13px 6px;
}
.editprofile-table-inputmain {
  width: 360px;
  height: 36px;
}
.editprofile-table-inputsub {
  width: 80px;
  height: 36px;
}
.editprofile-table-inputsubsub {
  width: 107px;
  height: 36px;
  margin-right: 4px;
}
.editprofile-table-inputsubsubsub {
  width: 107px;
  height: 36px;
  margin-right: 6px;
}
.editprofile-table-inputbutton {
  width: 73px;
  height: 36px;
  color: white;
  background-color: black;
}
.profileedit-buttons {
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}
.profileedit-button {
  width: 10rem;
  height: 36px;
  color: white;
  background-color: black;
}
