.order-page {
  margin: auto;
  width: 900px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.order-page img {
  width: 100px;
}

.order-page .order-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 25p;
  height: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.order-page .order-header span {
  font-size: 18px;
  line-height: 50px;
}

.order-page .order-header svg {
  padding-top: 22px;
  margin: 0 20px;
}

.order-page .order-subtitle {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid black;
}
.order-page .order-subcontent {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  margin: 0 10px 0 0;
  padding: 15px;
}

.order-page span,
p,
.order-page tbody td th {
  margin-left: 15px;
}

.order-address {
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.order-addressform {
  margin-left: 15px;
}

.order-addressform input {
  margin-left: 30px;
  margin-bottom: 10px;
  width: 774px;
  height: 42px;
  background: none;
  border: 1px solid #999;
  padding: 10px;
}

.order-addressform .zipcode {
  width: 300px;
}

.order-address label {
  margin: 0 5px;
}

.order-receiver input {
  margin-left: 6.5px;
  margin-bottom: 20px;
  width: 774px;
  height: 42px;
  background: none;
  border: 1px solid #999;
}

.order-phonenumber input {
  margin: 0 9px;
  width: auto;
  height: 42px;
  background: none;
  border: 1px solid #999;
  margin-bottom: 10px;
}

.order-phonenumber input:nth-child(1) {
  margin-left: 10px;
}

.order-email {
  width: 898px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
}

.order-email input {
  width: 200px;
  height: 42px;
  background: none;
  border: 1px solid #999;
}

.order-email .first {
  margin-left: 19px;
}

.order-email .at {
  margin: 0 5px;
  border: none;
}

.order-page .order-product {
  border-bottom: 1px solid #999;
}

.order-page tbody img {
  width: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.order-page tbody td {
  font-size: 14px;
}

.order-page tbody td p {
  margin-bottom: 2px;
}

.order-page tbody td p:nth-last-child(1) {
  margin: 20px 0;
  margin-left: 15px;
  color: red;
}

.order-coupon {
  border-bottom: 1px solid #999;
}

.order-coupon p {
  margin: 5px 0 20px 808px;
  font-size: 12px;
}

.order-coupon div {
  height: 42px;
  font-size: 16px;
  line-height: 30px;
}

.order-coupon div span:nth-child(2) {
  margin-left: 680px;
}

.order-coupon div button {
  width: 70px;
  height: 40px;
  margin-bottom: 15px;
  margin-left: 10px;
  background: none;
  border: 1px solid #999;
}
