body {

}

#root{
 
}
.product-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 20px;
  text-align: center;
  z-index: 2;

  /*  */
   /*  background-image: url(https://i.postimg.cc/XvT12qdD/3.jpg);*/
  background-size: cover;
  background-position: 50% 0;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  


}

.product-list-li {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden; /* Ensure contents do not overflow */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}


.product-list-li a{
  text-decoration: none;
  color: #302d2b
}

.product-list-li a:visited {
  text-decoration: none;
  color: #302d2b
}

.product-inner {
  position: relative;
  overflow: hidden;/* 포인터 커서 설정 */
}

.product-thumbnail {
  position: relative;
  overflow: hidden;
 
}

.product-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-out;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;

}


.product-inner::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%; /* Adjust as needed */
  height: 300%; /* Adjust as needed */
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 80%);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-out;
  pointer-events: none;
}

.product-description {
  position: absolute;
  top: -100%; /* Start above the container */
  /* left: -75px; */
  width: 100%;
  height: 479px;
  padding: 21px 72px 0;
  text-align: center;
  min-height: 161px;
  background-color: transparent;
  z-index: 1;
  transition: top 0.7s ease; /* Smooth transition for top movement */
}
.product-name {
  display: block;
  display: -webkit-box;

  word-wrap: break-word;
  max-height: 36px;
  font-weight: normal;
  line-height: 18px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 135px;
  margin-bottom: 1rem;
}

.product-name span {
  line-height: 1.3;
  font-size: 1.7rem !important;
  margin-bottom: 10px;
  font-weight: 600;
  display: none;
  margin-bottom: 1rem;
}

.product-description span:nth-child(2) {
  font-size: 1.5rem !important;
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.product-description span:nth-child(3) {
  font-size: 1.5rem !important;
  margin-bottom: 10px;
  font-weight: 600;
}

.btn-text-cart {
  width: 231px;
  height: 35px;
  border: 0;
  color: white;
  background-color: #313131;
  font-size: 14px;
  vertical-align: middle;
  line-height: 24px;
}

.product-list-li {
  display: flex;
  flex-direction: column-reverse;

  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
}

.product-inner.ripples::after {
  transform: translate(-50%, -50%) scale(1);
}
.product-list-li {
  overflow: hidden; /* Ensure contents do not overflow */
  transition: transform 0.3s ease; /* Transition for smooth movement */
}

.product-list-li:hover .product-description {
  top: 0; /* Move down to 0 position on hover */
}

.product-list-li:not(:hover) .product-description {
  top: -100%; /* Return to initial position when not hovered */
}
.product-list-li:hover .product-inner {
  transition: all 0.7s ease;
  transform: translateY(205px); /* Move the element downwards on hover */
}

.product-list-li:not(:hover) .product-inner {
  transition: all 0.7s ease;
  transform: translateY(-90px); /* Move the element downwards on hover */
}

.product-all-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.shop-wrapper {
  display: flex;
  flex-direction: column; /* 요소들을 세로로 정렬합니다 */
  align-items: center; /* 요소들을 수평으로 중앙 정렬합니다 */
}

.filter-buttons {
  margin-left: 50%;
  transform: translateX(-12.5%);
  margin:0 auto;
  margin-top:5rem;
}

.filter-buttons {
  display: flex;
  gap: 10px; /* 버튼들 사이의 간격을 조절합니다 */
  margin-top: 250px; /* 필요에 따라 버튼들과 제품 리스트 사이의 간격을 조절합니다 */
}

.filter-buttons button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.purchase-modal-container {
  position: fixed;
  left: calc(50%);
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 10px;
  justify-content: center;
  align-items: center;
  z-index: 50; /* .modal-content의 z-index보다 크게 설정 */
  overflow: auto;
  width: 600px;
  height: 748px;
}
.modal-content {
  position: absolute;
  width: 560px; /* 모달의 너비 설정 */
  height: 600px; /* 모달의 높이 설정 */
  background-color: #ffffff;
  padding: 1.4rem;
  overflow: auto;
  text-align: center;
  z-index: 100; /* 다른 요소들보다 높은 z-index 설정 */
  border-radius: 8px; /* 선택적으로 모서리를 둥글게 처리 */
  top: 9rem;
}

.purchase-modal-content {
  position: relative;
  padding: 10px;
}

.modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.cart-modal-close-btn {
  position: absolute;
  right: 100px;
  top: 0;
}

.purchase-modal-h1 {
  padding: 0 14px;
  line-height: 35px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  color: #1b1b1b;
  background: #fffcf1;
  border-radius: 5px 5px 0 0;
}

.purchase-modal-name {
  text-align: center;
  font-size: 24px;
  line-height: 1.4;
  font-family: "SofiaProSemiBold";
  padding: 25px 20px 40px;
  font-weight: normal;
}

.msg-card {
  display: flex;
  padding: 12px 0 12px 13px;
  text-align: left;
  font-size: 13px;
  vertical-align: top;
  color: #757575;
  line-height: 41px;
  gap: 1rem;
}

.purchase-select {
  max-width: 100%;
  width: 420px;
  height: 36px;
  margin: 0;
  padding: 0 20px 0 12px;
  border: 1px solid #dedfe2;
  border-radius: 0;
  font-size: 13px;
  line-height: 36px;
  color: #000;
  word-break: break-all;
  font-weight: inherit;
  -webkit-appearance: none;
}

.purchase-qty-label {
  /* display: flex; */
  padding: 12px 0 12px 13px;
  text-align: left;
  font-size: 13px;
  vertical-align: top;
  color: #757575;
  line-height: 41px;
  gap: 3.5rem;
  position: relative;
  width: 50px;
  height: 40px;
  float: left;
}

.purchase-qty-minus {
  top: 20px;
  left: 5.7rem;
  position: absolute;
  width: 33px;
  height: 30px;
  object-fit: fill;
}

.purchase-qty {
  position: absolute;
  top: 10;
  left: 8.6rem;
  width: 50px;
  height: 37px;
  padding: 1px;
  text-align: center;
}

.purchase-qty-plus {
  top: 20px;
  left: 13rem;
  position: absolute;
  width: 33px;
  height: 30px;
  object-fit: fill;
}

.purchase-total-price {
  margin: 35px 0 0;
  padding: 14px 0 0;
  font-size: 13px;
  border-top: 1px solid #9a9ba0;
}

.purchase-total-info {
  position: absolute;
  bottom: 315px;
  left: 0px;
  padding: 20px 0 0;
  font-size: 13px;
  border-top: 1px solid #ccc;
  width: 90%;
  text-align: left;
  margin-left: 2rem;
}

.go-to-cart {
  position: absolute;
  width: 260px;
  height: 36px;
  bottom: -209px;
  left: 20px;
  background-color: #1b1b1b;
  color: white;
  border: 0;
}

.modal-close {
  position: absolute;
  width: 260px;
  height: 36px;
  bottom: 250px;
  right: 40px;
  background-color: white;
}

.cart-result-img {
  width: 250px;
  height: 300px;
}

.modal-keep-shopping {
  width: 250px;
  height: 36px;
  background-color: #1b1b1b;
  color: white;
}

.modal-go-cart {
  margin-top: 1rem;
  width: 250px;
  height: 36px;
  background-color: white;
  border: 1px solid #ccc;
}


.detail-wrapper{
  
  display: flex;
  flex-wrap: wrap;
  padding: 450px 52px;
  align-items: flex-end;
  gap:10em;
  max-width: 1920px !important;
  margin: 0 auto 200px;
  position:relative;
}

.detail-div:not(:first-child){
  width: 33.2%;
  padding:30px;
  


}
.detail-div:first-child{
  width:20%;
 position:absolute;
 bottom:1rem;
 padding:30px ;
}

.detail-div:first-child h2{
  font-size: 3rem;
 }

 .detail-div:first-child p{
  font-size: 1.3rem;
  padding-bottom: 42px;
 }

 .detail-pscentdetail {
  margin-bottom: 42px;
 }

.detail-div:nth-child(2){
  position:absolute;
  font-size: 12px;
  left:45%;
  transform: translateX(-50%);
  top:-50px;
 }

.detail-div:nth-child(3){
  position: absolute;
  right: 0;
  bottom:15rem;
}

.detail-div img{
  position: absolute;
  top:150px;
  
  width:600px;
  height: 790px;
  
}

.detail-pdesc{
  width:24rem;
  padding-bottom: 20px;
  font-size: 12px;
}

.detail-pprice{
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.detail-pprice-right{
  font-size: 1.8rem;
  padding-bottom: 20px;
  text-align: right;
}

.gift-wrapper{
  border-top: 1px solid black;
  width:25rem;
  padding: top 5px;
}

.gift-arrow{
float:right;
margin-right: 20px;
margin-top: 5px;
transition: transform 0.3s ease;
}

.gift-arrow.rotate {
  transform: rotate(90deg); /* Rotate arrow icon when active */
}

.gift-content{
  cursor: pointer;
  transition: height 0.3s ease; /* Smooth transition for height change */
  overflow: hidden; /* Hide overflow content */
  padding:9px;
}

.gift-content.active {
  height: 250px; /* Adjust the height as per your design */
}


.gift-content-info{
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}


.gift-content-info img{
  width: 100px;
  height: 100px;
  position:absolute;
  top:415px;

}

.gift-desc{
  position: absolute;
  
  left:130px;
}

/*  */

.product-notice, .product-info{
  font-size: 12px;
  color: #555555;
  overflow: auto
}

.select-msg-card{
  width:100%;
  line-height: 38px;
  padding:0 10px;
  height: 36px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #555555;
  
}

.detail-add-cart{
  margin-top: 1rem;
  width:100%;
  height:36px;
  border:0;
  font-size: 16px;
  background-color: black;
  color:white;
}

.detail-desc-wrapper{
  width:100%;
}

.detail-desc-img{
  display: block;
  width:100%;
  overflow: hidden;
  justify-content: center;
  object-fit: contain;
  padding:30px;
  margin: 0 auto;
}

.detail-desc-img img{
  margin-left: 50%;
  transform: translateX(-50%);
}

.detail-desc-txt{
  margin: 0 auto;
  width:350px;
  font-size: 14px;
  color: #555555;
  padding-top: 3rem;

}