.store-one {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.store-one-image {
  width: 900px;
}
.store-two {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.imagecarousel {
  text-align: center;
  align-items: center;
  margin: 2rem auto;
}
.imagecarousel-img {
  width: 900px;
}
.imagecarousel-slider {
  width: 900px;
}
.stock {
  display: flex;
  justify-content: left;
  margin: 2rem auto;
  border: 1px solid green;
}
.stock-list {
  margin: 0;
  width: 400px;
  border: 1px solid red;
  text-align: center;
}
