@import url("https://use.typekit.net/ppj4rln.css");

#root {
  background-color: var(--color-bg);
}

:root {
  --color-bg: rgb(255, 251, 237);
  --color-black: #000;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 1200px;
  height: auto;
  border: 2px solid blue;
  margin: auto;
  margin-bottom: 50px;
}

.sub-title {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  font-family: "Sofia-Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-title h2 {
  color: var(--color-black);
  font-weight: bold;
}
