/* 모달 배경을 어둡게 만드는 오버레이 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 스타일 */
.modal {
  background-color: rgb(255, 251, 237);
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  z-index: 1001;
}

/* 페이드 아웃 애니메이션 */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
