body {
  background-color: rgb(255, 251, 237);
}
.stockList {
  margin: 0;
  padding: 0;
}
.store-one {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.store-one-image {
  width: 900px;
}
.store-two {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.imagecarousel {
  text-align: center;
  align-items: center;
  margin: 2rem auto;
}
.imagecarousel-img {
  width: 900px;
}
.imagecarousel-slider {
  width: 900px;
}
.stock {
  display: flex;
  justify-content: left;
  margin: 2rem auto;
  width: 80%;
}
.stock-list {
  margin: 0;
  width: 25%;
  text-align: center;
  margin: 0 auto;
}
.flagship-button {
  cursor: pointer;
  margin-top: 2rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Sofia-Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-decoration: underline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
