@import url("https://use.typekit.net/ppj4rln.css");

body {
  margin: 0;
  font-family: "SofiaProSemiBold", sans-serif;
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
